{{partial 'partials/header'}}

<div class="container row">
  <div class="columns large-12">
    <div class="list-container">
      {{outlet}}
    </div>

    <div class="footer">
      <p class="copyright">&copy; 2013-{{unbound view.currentYear}} Middleman. Original development by <a href="http://karlfreeman.co.uk" target="_blank">Karl Freeman</a>.</p>
      <p class="fork"><a href="https://github.com/middleman/middleman-directory" target="_blank">Fork and edit this on Github</a></p>
    </div>
  </div>
</div>
